* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("medical-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: 'Karla', sans-serif;
}

/* .background-image {
    background-image: url("medical-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100vh;
    font-family: 'Karla', sans-serif;
} */

.title {
    color: white;
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}

/* --------- Navbar  --------- */

.navbar {
    background-color: #272727;
    width: 100%;
    margin-bottom: 25px;
}

.nav-items {
    padding: 8px;
}

.Contact-us {
    color: white;
    display: inline-block;
    margin: 12px;
    font-size: 22px;
}

.Contact-us a {
    text-decoration: none;
    color: white;
}

.Contact-us a:hover {
    color: lightgray;
}

.About-us {
    color: white;
    display: inline-block;
    margin: 12px;
    font-size: 22px;
}

.About-us a {
    text-decoration: none;
    color: white;
}

.About-us a:hover {
    color: lightgray;
} 

.Home {
    color: white;
    display: inline-block;
    margin: 12px;
    font-size: 22px;
}

.Home a {
    text-decoration: none;
    color: white;
}

.Home a:hover {
    color: lightgray;
}

/* anatomy */

.anatomy {
    position: relative;
    width: 600px;
}

.main-img {
    display: block;
    width: 100%;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.img-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0%;
    transition-duration: 0.7s;
}

.img-over:hover {
    opacity: 100%;
}

/* .img-title {
    font-size: 25px;
} */

.img-title a {
    text-decoration: none;
    color: white;
    font-size: 50px;
}

.pictures {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}